{{ form_start(postForm) }}

<form>
    <div class="row">
        <div class="col-lg-12">
            <div class="inp-field">
                {{ form_row(postForm.type) }}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="inp-field">
                {{ form_row(postForm.city) }}
            </div>
        </div>

        <div class="col-lg-12">
            {{ form_row(postForm.description) }}

        </div>
        <div class="col-lg-12">
            <ul>
                {{ form_rest(postForm) }}
                <li>
                    <button class="active" type="submit" value="post">Postuler</button>
                </li>
                <li><a href="#" title="">Annuler</a></li>
            </ul>
        </div>
    </div>
</form>
{{ form_end(postForm) }}